{% extends "base.html" %}

{% block title %}Détails de la Matière{% endblock %}

{% block content %}
<div class="bg-gray-900 py-12 px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-semibold text-white text-center mb-8">Détails de la Matière : {{ matiere.nom }}</h1>

    <!-- Informations sur la matière -->
    <div class="bg-gray-800 rounded-lg shadow-lg p-8 mb-8">
        <h2 class="text-2xl font-semibold text-white mb-4">Détails de la Matière</h2>
        <p class="text-lg text-gray-300"><strong>Matière :</strong> {{ matiere.nom }}</p>
        <p class="text-lg text-gray-300"><strong>Classe :</strong> {{ matiere.classe.nom }}</p>
        <p class="text-lg text-gray-300"><strong>Description :</strong> {{ matiere.description|default:"Aucune description disponible." }}</p>
        <p class="text-lg text-gray-300"><strong>Professeur :</strong> {{ prof.get_full_name|default:prof.username }}</p>  <!-- Affichage du nom complet ou du nom d'utilisateur -->

    </div>

    <!-- Cartes par période -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        {% for periode, notes in periodes_notes.items %}
        <a href="{% url 'details_periode_matiere' matiere_id=matiere.id periode_id=periode.id %}" class="block bg-gray-700 rounded-lg shadow-lg overflow-hidden hover:bg-indigo-600 transition duration-200">
            <div class="p-6 text-center">
                <h3 class="text-xl text-indigo-500 mb-4">{{ periode.nom }}</h3>
                <p class="text-lg text-gray-300">Nombre d'élèves : {{ notes|length }}</p>
            </div>
        </a>
        {% empty %}
        <p class="text-gray-400 text-center">Aucune période trouvée pour cette matière.</p>
        {% endfor %}
    </div>

</div>
{% endblock %}
